body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
    font-size: 12px;
}

.header-sec,
.footer {
    background: #1F2937;
    color: white;
    padding: 20px 150px;
    font-size: 12px;
}

.header-sec {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    gap: 10px;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    margin-bottom: 60px;
}

.sub {
    display: flex;
    flex-direction: column;
    flex: wrap;
    width: 300px;
    gap: 20px;
}

.subtitle{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}
button {
    padding: 8px 16px;
    border-radius: 8px;
    border-style: solid;
  }

.sign-up {
    background: #3882F6;
    color: white;
    width: 150px;
    border-color: #3882F6;
}

.image {
    background: #62666c;
    width: 500px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;
}

.body {
    background: white;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 60px 200px 150px;
}

.info-header {
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
}

.info-container {
    display: flex;
    gap: 80px;
}

.info-sub {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.info-sub .text {
    text-align: center;
}

.info-image {
    border-color: #3882F6;
    border-style: solid;
    border-width: thick;
    background: white;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.quote-section {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 60px 200px;
    gap: 20px;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.quote-person {
    font-weight:bold;
    font-size: 24px;
}

.sign-up-section {
    padding: 60px 150px;
}

.blue-container {
    padding: 60px 100px;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
}

.blue-container .sign-up {
    border-color: white;
}

.action {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}