body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}

.header-sec,
.footer {
    background: #1F2937;
    color: white;
    padding: 20px 100px;
    font-size: 12px;
}

.header-sec {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    gap: 10px;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    margin-bottom: 60px;
}

.sub {
    display: flex;
    flex-direction: column;
    flex: wrap;
    width: 300px;
    gap: 20px;
}

.subtitle{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;

}
button {
    padding: 8px 16px;
    border-radius: 8px;
  }

.sign-up {
    background: #3882F6;
    color: white;
    border: 0px;
}

.image {
    background: #62666c;
    width: 500px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;
}

.body {
    background: white;
    display: flex;
    flex: 1;
}

.quote-section {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 60px 100px;
    gap: 20px;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.quote-person {
    font-weight:bold;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}